.add-player-button button {
    background: transparent;
    color: var(--primary-text-color);
    border: 1px solid var(--border-color);
    font-size: 1em;
    width: auto;
    height: auto;
    padding: .5em 1em;
}

.player-watch-card {
    color: var(--container-background);
    display: flex;
    gap: 1em;
    font-size: 1.3em;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 0.5em;
    justify-content: space-between;
}

.player-watch-rating {
    font-weight: 700;
}

.player-watch-name {
    font-weight: 200;
}

section.player-watch-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: scroll;
    max-height: 80dvh;
}

.player-watch-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.player-watch-content {
    display: flex;
    gap: 1em;
}

.player-watch-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.player-watch-buttons button {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    background-color: transparent;
}

.player-watch-buttons button i {
    font-size: 1.5em;
    color: var(--secondary);
}

button.vs {
    border: 1px solid var(--secondary);
    border-radius: 50%;
    padding: .5em;
    font-weight: 700;
}