:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

[data-theme="light"] {
  --body-background: linear-gradient(#153470, #040d2e);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: #002361;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: white;
}
[data-theme="dark"] {
  --body-background: linear-gradient(#153470, #040d2e);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: #002361;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: white;
}
[data-theme="blue"] {
  --body-background: linear-gradient(#153470, #040d2e);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: #002361;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: white;
}
[data-theme="red"] {
  --body-background: linear-gradient(#701515, #2e0404);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: #ac002f;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: white;
}
[data-theme="green"] {
  --body-background: linear-gradient(#217015, #072e04);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: #004700;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: white;
}
[data-theme="black-and-white"] {
  --body-background: #e8e8e8;
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: white;
  --border-color: black;
  --primary-text-color: black;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --button-text-color: white;
  --groups-modal-header-background: black;
}
[data-theme="gradient-1"] {
  --body-background: linear-gradient(184deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: transparent;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: black;
}
[data-theme="gradient-2"] {
  --body-background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: transparent;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: black;
}
[data-theme="gradient-3"] {
  --body-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  --even-list-card-background: #ffffff;
  --odd-list-card-background: #e1e1e1;
  --primary: #1c50af;
  --secondary: #77EEFF;
  --tertiary: #FF3E00;
  --header-background: transparent;
  --border-color: white;
  --primary-text-color: white;
  --secondary-text-color: black;
  --primary-button-background: white;
  --modal-background: #0000009c;
  --container-background: white;
  --groups-modal-header-background: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--body-background);
  background-size: cover;
  background-position: center;
  height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  min-height: 100dvh;
  width: 40em;
  margin: auto;
  gap: .5em;
}

section {
  max-width: 800px;
  width: 90vw;
  padding: .5em;
}

@media screen and (max-width: 500px) {
  main {
    width: 25em !important;
  }
}

button {
  width: 10em;
  height: 3em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 1em;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.group-header {
  padding: .5em;
  color: var(--primary-text-color);
  border: 1px solid var(--border-color);
  background: var(--header-background);
  border-radius: 5px 5px 0 0;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.group-footer {
  padding: .5em;
  color: var(--primary-text-color);
  font-weight: 600;
}

.group-footer button {
  width: 6em;
  font-size: 1em;
  height: 1.5em;
  background-color: var(--primary);
  border: 1px solid var(--border-color);
  color: var(--button-text-color);
}

.group-list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
}

.card {
  border-radius: 0 .5em .5em .5em;
}

.card-section {
  display: flex;
  gap: 1em;
  padding: .5em;
}

.card-subsection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-card {
  display: flex;
  gap: .5em;
  padding: .5em;
}

.list-card:nth-child(odd) {
  background-color: var(--odd-list-card-background);
}

.list-card:nth-child(even) {
  background-color: var(--even-list-card-background);
}

.expandable-card {
  color: var(--primary-text-color);
}

.tabs {
  display: flex;
  gap: 1em;
}

.tab {
  background: var(--primary-button-background);
  padding: .5em;
  font-size: 1em;
  border-radius: 1em;
  width: 5em;
  margin-bottom: 1em;
}

.tab-selected {
  border-bottom: 0.5em solid var(--tertiary);
}

.page-title {
  text-align: center;
  color: var(--primary-text-color);
  font-size: 1em;
}

.header-details {
  display: flex;
  color: var(--primary-text-color);
  justify-content: center;
  gap: 1em;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: column;
  gap: .5em;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-bottom: 1em;
}

.bubbles {
  display: flex;
  gap: 1em;
}

.bubble {
  border: 1px solid var(--primary-text-color);
  padding: 0 .5em;
  border-radius: 5px;
}

.total-row {
  display: flex;
  gap: .5em;
  padding: .5em;
  color: var(--primary-text-color);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--border-color);
  border-radius: 0 0 5px 5px;
}

.back-link {
  width: 5em;
  background-color: transparent;
  color: var(--primary-text-color);
  font-size: 1em;
  padding: .5em 1em;
  border: 1px solid var(--border-color);
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

main.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gif {
  max-width: 10em;
  aspect-ratio: 1;
  border-radius: 50%;
}

section.no-players-registered {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

section.no-players-registered h2 {
  color: var(--primary-text-color);
}

section.tournament-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.pdf {
  background-color: transparent;
  color: var(--primary-text-color);
  justify-content: center;
  align-items: center;
  gap: .5em;
  border: 1px solid var(--border-color);
  padding: .5em 1em;
  border-radius: .5em;
}

a.pdf i {
  font-size: 1em;
}

section.no-players-registered img.gif {
  border-radius: 1em;
}

.modal {
  width: 100vw;
  height: 100dvh;
  background: var(--modal-background);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in-development {
  color: var(--primary-text-color);
  padding: 5em 0;
}

.in-development h1 {
  font-weight: 200;
}

.header-title h1 {
  font-weight: 200;
  font-size: 2em;
}

.modal-container {
  width: 80vw;
  height: 40em;
  background: var(--container-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  border-radius: .5em;
  gap: .5em;
  max-width: 500px;
}

.modal-input {
  border: 2px solid var(--primary);
  height: fit-content;
  border-radius: .5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-list i {
  color: var(--primary);
  font-size: 4em;
  opacity: .5;
}

.modal-content {
  height: 32em;
  color: black;
  overflow-y: scroll;
}

.player-lookup-result-top {
  display: flex;
  gap: 1em;
  font-weight: 600;
}

.player-lookup-result.list-card {
  gap: 0;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  color: black;
  font-weight: 600;
}

.exit-modal button {
  background-color: transparent;
  width: fit-content;
}

.exit-modal button i {
  font-size: 2em;
  color: var(--tertiary);
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
}