.filters {
    display: flex;
    flex-direction: column;
    gap: .5em;
    background: white;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
}

.sorting-buttons button {
    width: 33%;
}

.favorites-list.tournaments-list {
    padding: .5em;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: var(--header-background);
}

.status {
    font-weight: 700;
}

.status.open {
    color: greenyellow;
}

.status.closed {
    color: red;
}

.status.finished {
    color: rgb(127, 231, 255);
}

button.active {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
}

.tournament-details span {
    background-color: var(--primary);
    border-radius: 5em;
    padding: .5em 1em;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.tournament-details {
    display: flex;
    align-items: center;
    gap: .5em;
}

.tournament-details i {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.5em;
}

.all-tournaments .list-card {
    flex-direction: column;
}

.menu {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    gap: .5em;
    background: var(--header-background);
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sync-usatt button {
    color: white;
    font-size: 16px;
    background: var(--primary);
    border: 2px solid var(--secondary);
}

.menu .hamburger-icon i {
    font-size: 2em;
    padding: 0 5px;
}

.bottom-menu {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.bottom-menu .row {
    display: flex;
    gap: .5em;
}

.bottom-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 2em;
}

.my-rating-value {
    font-size: 3em;
    font-weight: 200;
}

.input-filter input {
    border-radius: 5px;
}

section.tournaments-list {
    padding: 0;
}

.my-rating-container {
    display: flex;
    align-items: flex-start;
}

.edit-rating-box button {
    color: var(--secondary);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 1.5em;
}

.event-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-name i {
    font-size: 1.2em;
    border: 1px solid;
    padding: .3em .5em;
    border-radius: 5px;
}

.groups-modal .modal-container {
    width: 90vw;
    height: 90dvh;
}

.groups-modal .group-header {
    font-weight: 600;
    font-size: 1em;
    color: var(--groups-modal-header-background);
}

.groups-modal .modal-container {
    width: 90vw;
    height: auto;
    justify-content: normal;
}

.groups-modal .group {
    border: 1px solid;
    border-radius: 5px 5px 0 0;
}

.theme-options label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
    color: var(--primary-text-color);
}

.theme-options label input {
    width: 2em;
}

.list-card .tournament-name {
    color: var(--secondary-text-color);
}

.manual-modal-inputs button {
    font-size: 1em;
    border: 1px solid var(--primary);
}

button.tab {
    color: var(--secondary-text-color);
}

.team-name {
    width: 20%;
    overflow-x: scroll;
}

.team-members {
    width: 65%;
}