.filters {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
}

.sorting-buttons button {
    width: 33%;
}

.favorites-list.tournaments-list {
    margin: .5em;
    padding: .5em;
    border-radius: 4px;
    width: 96%;
}

.status {
    font-weight: 700;
}

.status.open {
    color: greenyellow;
}

.status.closed {
    color: red;
}

.status.finished {
    color: rgb(127, 231, 255);
}

button.active {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid white;
}

.tournament-details span {
    background-color: var(--primary-color);
    border-radius: 5em;
    padding: .5em 1em;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.tournament-details {
    display: flex;
    align-items: center;
    gap: .5em;
}

.tournament-details i {
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.5em;
}

.all-tournaments .list-card {
    flex-direction: column;
}