.filters {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 25em;
}

.sorting-buttons {
    display: flex;
    justify-content: space-between;
}

.sorting-buttons button {
    width: 33%;
}

.events-list {
    width: 40em;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.card {
    border-radius: 0 .5em .5em .5em;
    background-color: #0e091f8a;
}

.card-section {
    display: flex;
    gap: 1em;
    padding: .5em;
}

.card-subsection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main:not(.favorites-list .card-main) {
    padding: .5em;
    background-color: #0e091f8a;
}

.favorites-list.events-list {
    margin-top: .5em;
    background-color: #453C67;
    padding: .5em;
    border-radius: 4px;
}

.group-header {
    padding: .5em;
}

.group {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.status {
    font-weight: 700;
}

.status.open {
    color: greenyellow;
}

.status.closed {
    color: red;
}

.status.finished {
    color: rgb(0, 166, 255);
}

button.active {
    background-color: #eeb0ff;
}

@media screen and (max-width: 500px) {
    .events-list {
        width: 25em;
    }
}